body {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 10px;
}
