/* -------------- Dépendante ---------
*/

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}


body {

    background: url(../Image/mountains-1985027_1920.jpg);
    background-size: auto;
    background-attachment: fixed;
    margin: 0px;
    height: 100%;
    width: 100%;
}

#Table {
    margin: 100px 50px 100px 50px;
    background: url(../Image/wallpaper-2116949_960_720.jpg);
}


/*--------- indépendant ------------
*/

.independant {
    /*
    A finir
    */
    height: 100px;
    margin: auto;
    z-index: 1;
    margin-top: -25px;
}



/* Introduction du profil */

#intro {
    height: 200px;
    background: rgb(0, 0, 0, 0.3);
}

.icon {
    height: 50px;
    width: 50px;
}

/* Intermediaire */

/* Prog Menu 
*/
#ProgMenue {
    height: 200px;
    background-image: url('../Image/menu-3167859_1920.jpg');
    background-size: cover;

}
